@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);
    --transparentWhite: hsla(0, 0%, 100%, 0.75);
    --veryLightGray: hsl(0, 0%, 95%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--veryLightGray);
    font-family: "Lexend Deca", serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 340px;
    text-align: left;
    margin: 5rem 1.4rem;
}

/* Common Card Styles */
.sedans,
.suvs,
.luxury {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.8rem;
    border-radius: 0;
}

/* Individual Card Styles */
.sedans {
    background-color: var(--brightOrange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.suvs {
    background-color: var(--darkCyan);
}

.luxury {
    background-color: var(--veryDarkCyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Headings */
.sedans h1,
.suvs h1,
.luxury h1 {
    font-family: "Big Shoulders Display", serif;
    color: var(--veryLightGray);
    font-weight: 700;
    font-size: 2.5rem;
}

/* Paragraphs */
.sedans p,
.suvs p,
.luxury p {
    font-size: 15px;
    line-height: 1.5rem;
    color: var(--transparentWhite);
}

/* Buttons */
.sedans button,
.suvs button,
.luxury button {
    border: 2px solid var(--veryLightGray);
    padding: 0.8rem 2rem;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Smooth hover transition */
}

.sedans button {
    color: var(--brightOrange);
}

.suvs button {
    color: var(--darkCyan);
}

.luxury button {
    color: var(--veryDarkCyan);
}

/* Hover Effects */
button:hover {
    color: var(--veryLightGray);
}

.sedans button:hover {
    background-color: var(--brightOrange);
}

.suvs button:hover {
    background-color: var(--darkCyan);
}

.luxury button:hover {
    background-color: var(--veryDarkCyan);
}

/* Responsive Design */
@media (min-width: 1024px) {
    .container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        margin: 0;
    }

    .sedans p,
    .suvs p,
    .luxury p {
        margin-bottom: 3rem;
    }

    .sedans {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .luxury {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}